[submodule "BaseBin/ChOma"]
	path = BaseBin/ChOma
	url = git@github.com:opa334/ChOma.git

[submodule "BaseBin/XPF"]
	path = BaseBin/XPF
	url = git@github.com:opa334/XPF.git

[submodule "Exploits/kfd/src/kfd"]
	path = Application/Dopamine/Dopamine/Exploits/kfd/kfd
	url = git@github.com:opa334/kfd.git

[submodule "BaseBin/opainject"]
	path = BaseBin/opainject
	url = git@github.com:opa334/opainject.git

[submodule "BaseBin/_external/modules/litehook"]
	path = BaseBin/_external/modules/litehook
	url = git@github.com:opa334/litehook.git